
@font-face {
  font-family: FlandersArtSans-Regular;
  src: url('Fonts/FlandersArtSans-Regular.otf');
  src: url('Fonts/FlandersArtSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: FlandersArtSans-Medium;
  src: url('Fonts/FlandersArtSans-Medium.otf');
  src: url('Fonts/FlandersArtSans-Medium.otf') format('opentype');
}

@font-face {
  font-family:  SangBleuKingdom-Medium;
  src: url('Fonts/SangBleuKingdom-Medium.otf');
  src: url('Fonts/SangBleuKingdom-Medium.otf') format('opentype');
}

body{
  font-family: "FlandersArtSans-Regular";
 }

.titelevent{
 font-family: "FlandersArtSans-Medium";
}
.tegast, .datumvandaag{
  font-family:"SangBleuKingdom-Medium"; 
  margin:auto;
}

hr{
  border-color: black;	
}

td {
    vertical-align: top;
}

table {
    width: 1047px; 	
}
