
@font-face {
  font-family: FlandersArtSans-Regular;
  src: url('Fonts/FlandersArtSans-Regular.otf');
  src: url('Fonts/FlandersArtSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: FlandersArtSans-Medium;
  src: url('Fonts/FlandersArtSans-Medium.otf');
  src: url('Fonts/FlandersArtSans-Medium.otf') format('opentype');
}

body{
  font-family: "FlandersArtSans-Regular";
}

.tegast{
  font-family:"FlandersArtSans-Medium";
  text-decoration:underline;
}
